<%- include('layouts/header'); %>
<h1>Patients</h1>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Gender</th>
        <th colspan="2">Date of birth</th>
    </tr>
    </thead>
    <% patients.forEach( (patient)=> { %>
        <tr>
            <td>
                <%= patient.name.given %>&nbsp;<%= patient.name.family %>
            </td>
            <td><%= patient.gender%></td>
            <td><%= patient.birthDate%></td>
            <td><a href="/patients/<%= patient.id%>/consent">Consent</a></td>
        </tr>
    <% }) %>
</table>

<%- include('layouts/footer'); %>
